In [2]:
import pandas as pd
import numpy as np
import os

In [7]:
spanish_tweets = pd.read_csv('proj_data/spanish_tweets.csv', encoding='utf-8-sig', index_col = 0).reset_index()
english_tweets = pd.read_csv('proj_data/english_tweets.csv', encoding='utf-8-sig', index_col = 0).reset_index()
english_tweets.lemmatized_tweet_text = english_tweets.lemmatized_tweet_text.astype('str')
spanish_tweets.lemmatized_tweet_text = spanish_tweets.lemmatized_tweet_text.astype('str')

In [8]:
from sklearn.feature_extraction.text import CountVectorizer

In [9]:
# only words that appear in more than 5 tweets (a way to decrease the size of the vocab)
word_vectorizer = CountVectorizer(encoding='utf-8-sig', analyzer='word', min_df=5, ngram_range=(1,1))
# create matrix where each column is a word and each row is a count in each tweet
word_count_sm = word_vectorizer.fit_transform(spanish_tweets['lemmatized_tweet_text'])
words = word_vectorizer.get_feature_names()

# sum the count of each word over all Tweets
word_count_total = word_count_sm.sum(axis=0)
word_count_total_df = pd.DataFrame(word_count_total, columns = words)

In [11]:
word_count_total_df

,abadi,abajar,abajo,abandonar,abatir,abbas,abby,abc,abdel,abdullah,...,äúpor,äúsegundo,äúsionistas,äútsunami,äúun,äúyo,òë,òï,ùå,üí
0,18,19,8,79,50,15,6,5,17,10,...,5,6,6,18,15,11,6,13,26,14